@page "/data"
@inject IDatabase<GangnamguPopulation> DatabaseService
@rendermode RenderMode.InteractiveServer

<PageTitle>G.P.L | Data</PageTitle>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenText TextStyle="TextStyle.H4"> Data </RadzenText>

    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="Add New Data" Click="@InsertRow"></RadzenButton>

    <RadzenDataGrid @ref="dataGrid" Data="items" AllowPaging="true" PageSize="10" TItem="GangnamguPopulation" RowCreate="@OnCreateRow" RowUpdate="OnUpdateRow">
        <Columns>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="Id" Title="Id">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.Id" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="AdministrativeAgency" Title="행정동">
                <EditTemplate Context="data">
                    <RadzenTextBox @bind-Value="data.AdministrativeAgency" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="TotalPopulation" Title="인구수(계)">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.TotalPopulation" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="MalePopulation" Title="인구수(남)">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.MalePopulation" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="FemalePopulation" Title="인구수(여)">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.FemalePopulation" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="SexRatio" Title="성비">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.SexRatio" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="NumberOfHouseholds" Title="세대수">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.NumberOfHouseholds" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Property="NumberOfPeoplePerHousehold" Title="세대당인구수">
                <EditTemplate Context="data">
                    <RadzenNumeric @bind-Value="data.NumberOfPeoplePerHousehold" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GangnamguPopulation" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="150px">
                <Template Context="data">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => EditRow(data))">
                    </RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => DeleteRow(data))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="data">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(data))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code
{
    private RadzenDataGrid<GangnamguPopulation> dataGrid;

    private IEnumerable<GangnamguPopulation> items;

    protected override async Task OnInitializedAsync()
    {
        items = await DatabaseService.GetAsync();
    }

    private void EditRow(GangnamguPopulation data)
    {
        dataGrid.EditRow(data);
    }

    private void DeleteRow(GangnamguPopulation data)
    {
        DatabaseService.Delete(data.Id);
    }

    private void SaveRow(GangnamguPopulation data)
    {
        dataGrid.UpdateRow(data);
    }

    private void InsertRow()
    {
        var newData = new GangnamguPopulation();
        dataGrid.InsertRow(newData);
    }

    private void OnCreateRow(GangnamguPopulation data)
    {
        DatabaseService.Create(data);
    }

    private void OnUpdateRow(GangnamguPopulation data)
    {
        DatabaseService.Update(data.Id, data);
    }
}